!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Azabu.hs
    %link{:href => "stylesheets/styles.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/pygment_trac.css", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}/
    /[if lt IE 9]
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .wrapper
      %header
        %h1.header Azabu.hs
        %p.header Azabu.hs is probably the most active regional Haskller group in Japan.
        %ul
          %li
            %a.buttons.github{:href => "https://github.com/Azabuhs/"} View On GitHub
      %section
        %h3
          %a#welcome-to-github-pages.anchor{"aria-hidden" => "true", :href => "#welcome-to-github-pages"}>
            %span.octicon.octicon-link
          Haskellerのための地域コミュニティ
        %p
          集まりは不定期に行っています。ゆるふわやりましょう。
          %br>/
          Seattle.rb みたいに色々作っていく感じでいきたい。
          %br>/
          Haskellがもっとメジャーになると良いなと心から思っております。

        %h3
          %a#rather-drive-stick.anchor{"aria-hidden" => "true", :href => "#rather-drive-stick"}>
            %span.octicon.octicon-link
          場所とか
        %p
          麻布十番駅徒歩１分の所にある鳥貴族がいつもの場所ですが、
          %br>/
          都内の鳥貴族ならどこでも良いです。

        / %h3
        /   %a#designer-templates.anchor{"aria-hidden" => "true", :href => "#designer-templates"}>
        /     %span.octicon.octicon-link
        /   How to contribute
        / %pre
        /   %code
        /     :preserve
        /       $ cd your_repo_root/repo_name
        /       $ git fetch origin
        /       $ git checkout gh-pages

        %h3
          %a#support-or-contact.anchor{"aria-hidden" => "true", :href => "#support-or-contact"}>
            %span.octicon.octicon-link
          Support or Contact
        %p
          %a.user-mention{ href: "https://twitter.com/gogo_tanaka" } @gogotanaka
          or
          %a.user-mention{ href: "https://twitter.com/mdaisuke" } @mdaisuke

      %footer
        %p
          %small
            Hosted on
            %a{:href => "http://pages.github.com"} GitHub Pages
            using the Dinky theme
    /[if !IE] <script>fixScale(document);</script>


:javascript
  fixScale = function(doc) {
    var addEvent = 'addEventListener',
        type = 'gesturestart',
        qsa = 'querySelectorAll',
        scales = [1, 1],
        meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : [];
    function fix() {
      meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1];
      doc.removeEventListener(type, fix, true);
    }
    if ((meta = meta[meta.length - 1]) && addEvent in doc) {
      fix();
      scales = [.25, 1.6];
      doc[addEvent](type, fix, true);
    }
  };
